{% extends 'places/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="content">
    <h1>here you can choose where you will go today!</h1>

    <form method="post">
        {% csrf_token %}
        <button type="submit" name="chose_place">where to go?</button>
    </form>

    {% if selected_place %}
        <h3>today you got this place:</h3>
        {% include 'places/preview_card.html' with place=selected_place %}
        </div>
    {% endif %}
{% endblock %}