{% extends 'places/base.html' %}
{% block title %}{{ place.name }}{% endblock %}

{% block content %}
    <div>
        <h2>{{ place.name }}</h2>
        <p>{{ place.description }}</p>
        <p>Type:{{ place.place_type }}</p>
        <p>Location:{{ place.location|default:"Secret place👀" }}</p>
        <p>
            Rating:
            {% for i in "12345" %}
                {% if forloop.counter <= place.rating %}★{% else %}☆{% endif %}
            {% endfor %}
        </p>
        <p>Date: {{ place.created_at }}</p>
        <!-- <img src="" alt="photo"> -->
    </div>
{% endblock %}
