{% extends 'places/base.html' %}
{% block title %}Places list{% endblock %}

{% block content %}
    <h3>Your places</h3>
    {% for place in places %}
        <div>
            <h2><a href="{% url 'place_detail' place.id %}">{{ place.name }}</a></h2>
            <p>{{ place.description|truncatewords:10 }}</p>
            <p>Type:{{ place.place_type }}</p>
            <p>Location:{{ place.location|default_if_none:"Secret place👀" }}</p>
            <p>
                Rating:
                {% for i in "12345" %}
                {% if forloop.counter <= place.rating %}★{% else %}☆{% endif %}
                {% endfor %}
            </p>
            <p>Date: {{ place.created_at }}</p>
           <!-- <img src="" alt="photo"> -->
        </div>
    {% endfor %}
{% endblock %}